/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2014, 10:54:02 AM
    Author     : Andy
*/

body{
    background-color: whitesmoke;
    color: black;
}